html, body {
    /* Убирает прокрутку по горизонтали */
    overflow-x: hidden;
}

#design_minimalism:hover{
  color: white;
  transition: 1s color;
}

#design_minimalism {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 4em;
    white-space: nowrap;
    display: flex;
    position: absolute;
    left: 41%;
    top: 45%;
    min-height: 1em;
    width: 7em;
    transition: color 1s;
    animation-name: slow-show;
    animation-duration: 2s;
} 

@keyframes slow-show{
  0%{
    left: 41%;
    top: 75%;
    opacity: 0;
  }
  100%{
    left: 41%;
    top: 45%;
    opacity: 1;
  }
}