html, body {
    /* Убирает прокрутку по горизонтали */
    overflow-x: hidden;
}

#design_minimalism:hover{
    color: white;
}

#div_mini{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: slow-show;
    animation-duration: 2s;
}

#design_minimalism{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 4em;
    white-space: nowrap;
    position: absolute;
    min-height: 1em;
    width: 7em;
    transition: color 1.5s;
} 

@keyframes slow-show{
    0%{
        transform: translateY(30%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}