body{
  width: 100vw;
  height: 100vh;
}

#main_about{
  color: #A9A9A9;
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background: rgb(40,40,40, .7);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

#about_us{
  margin-left: 25;
  margin: 20px;
  font-size: 24px;
}