{%extends "base.html"%}

{%block head%}
{{super()}}
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/about.css" id = 'switch_about'>
{%endblock%}

<!--<button href = 'index.hmtl'><img src="cabinet.png" alt=""></button>-->
{%block content%}


{%block navi%}
{{super()}}
{%endblock%}

<div id = main_about>
<div id = about_us>
    Сайт делал ноунейма и художница-мазохист. Первый очень хочет чебупели, а вторая просто порисовать</div>
</div>

<!--<a class = 'go_back' href="../index.html">Вернуться на главную</a>-->

{%block script%}
{{super()}}
{% endblock %}
{% endblock %}