{%extends "base.html"%}

{%block head%}
{{super()}}
<link rel="icon" hqref="static/img/web icon.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/navigation.css" id = 'switch_nav'>
{%endblock%}

{%block content%}

{%block navi%}
{{super()}}
{%endblock%}
  
<div id='div_mini'><a href = '/main' id="design_minimalism">Минимализм</a></div>
{%block script%}
{{super()}}
{% endblock %}
{%endblock%}